<!DOCTYPE html>
<html>
<head>
  <title><%= t "static_pages.app.name" %></title>
  <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
    <%= render "layouts/shim" %>
    <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/header" %>
  <div class="container" id="background_images">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
  <%= yield %>
  </div>
</body>
<%= render "layouts/footer" %>
</html>
